body,
body * {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 1em;
    align-items: center;
    margin: 1em;
    flex-direction: column;
}

.options{
    flex-direction: row;
    justify-content: space-evenly;
}